{{ 'variant-page.css' | asset_url | stylesheet_tag }}

{%- assign product = section.settings.product_variant -%}
<div class="product-variant">
    <div  class="
      grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
      grid--{{ section.settings.columns_desktop }}-col-desktop
    ">
        {% for variant in product.variants %}
          {% if variant.available %}
          <div class="grid__item container-item" data-testid ="{{ variant.id }}">
            {% if variant.image %}
              <div class="variant-image">
                <img
                src="{{ variant.image.src | image_url }}"
                alt="{{ variant.image.alt | escape }}"
                role="presentation"
                height="auto"
                width="auto"
                loading="lazy"
              >
                <label class="switch">
                  <input type="checkbox" class="toggle_switch" id = "{{ variant.id }}">
                 
                  <span class="slider round"></span>
                </label>
              </div>
            {% endif %}
            <div class="variant-info">
              <div class="variant-detail">
                <div class="variant-subtitle">{{ variant.metafields.custom.subtitle }}</div>
                <div class="variant-description">{{ variant.metafields.custom.description}}</div>
                <div class="variant-values">
                    <div class="variant-values__firmness">
                      <div class="variant-element">{{ variant.metafields.custom.firmness }}</div>
                      {% assign active_value = variant.metafields.custom.firmness_value.value %}
                      {% assign floorNumber = active_value | floor %}
                      {% assign ceilNumber = active_value | ceil %}
                      {%- assign rest_value = 5 | minus: ceilNumber -%}
                      <div class="variant-values__wrapper">
                        {% for i in (1..5) limit:ceilNumber %}
                            <span class="progress-bar__list {{ value | handleize }} {% if floorNumber!=ceilNumber and forloop.last %}half{% endif %}"></span>
                        {% endfor %}
                          {% for i in (1..5) limit:rest_value %}
                          <span class="progress-bar__list rest_value {{ value | handleize }} {% if floorNumber!=ceilNumber and forloop.last %}{% endif %}"></span>
                          {% endfor %}
                      </div>
                    </div>

                    <div class="variant-values__support">
                      <div class="variant-element">{{ variant.metafields.custom.support }}</div>
                      {% assign active_value = variant.metafields.custom.support_values.value %}
                      {% assign floorNumber = active_value | floor %}
                      {% assign ceilNumber = active_value | ceil %}
                      {%- assign rest_value = 5 | minus: ceilNumber -%}
                      <div class="variant-values__wrapper">
                        {% for i in (1..5) limit:ceilNumber %}
                            <span class="progress-bar__list {{ value | handleize }} {% if floorNumber!=ceilNumber and forloop.last %}half{% endif %}"></span>
                        {% endfor %}
                        {% for i in (1..5) limit:rest_value %}
                        <span class="progress-bar__list rest_value {{ value | handleize }} {% if floorNumber!=ceilNumber and forloop.last %}{% endif %}"></span>
                        {% endfor %}
                      </div>
                    </div>

                    <div class="variant-values__cooling">
                      <div class="variant-element">{{ variant.metafields.custom.cooling }}</div>
                      {% assign active_value = variant.metafields.custom.cooling_value.value %}
                      {% assign floorNumber = active_value | floor %}
                      {% assign ceilNumber = active_value | ceil %}
                      {%- assign rest_value = 5 | minus: ceilNumber -%}
                      <div class="variant-values__wrapper">
                        {% for i in (1..5) limit:ceilNumber %}
                            <span class="progress-bar__list {{ value | handleize }} {% if floorNumber!=ceilNumber and forloop.last %}half{% endif %}"></span>
                        {% endfor %}
                        {% for i in (1..5) limit:rest_value %}
                        <span class="progress-bar__list rest_value {{ value | handleize }} {% if floorNumber!=ceilNumber and forloop.last %}{% endif %}"></span>
                        {% endfor %}
                      </div>
                    </div>

                    <div class="variant-values__pressure">
                      <div class="variant-element">{{ variant.metafields.custom.pressure_relief }}</div>
                      {% assign active_value = variant.metafields.custom.pressure_relief_value.value %}
                      {% assign floorNumber = active_value | floor %}
                      {% assign ceilNumber = active_value | ceil %}
                      {%- assign rest_value = 5 | minus: ceilNumber -%}
                      <div class="variant-values__wrapper">
                        {% for i in (1..5) limit:ceilNumber %}
                            <span class="progress-bar__list {{ value | handleize }} {% if floorNumber!=ceilNumber and forloop.last %}half{% endif %}"></span>
                        {% endfor %}
                        {% for i in (1..5) limit:rest_value %}
                        <span class="progress-bar__list rest_value {{ value | handleize }} {% if floorNumber!=ceilNumber and forloop.last %}{% endif %}"></span>
                        {% endfor %}
                      </div>
                    </div>
                </div>
                {%- assign product_form_id = 'product-form-' | append: section.id -%}
                <div class="variant-title">{{ variant.title }}</div>
              </div>

              <div class="variant-buying">
                <div class="variant-price">{{ variant.price | money_with_currency }}</div>
                {%- render 'buy-buttons',
                  block: block,
                  product: product,
                  product_form_id: product_form_id,
                  variant_id: variant.id,
                  show_pickup_availability: true
                -%}
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
    </div>
    <div class="compare-vairant">
      <button class="compare-variant-btn hidden disabled" id="compare_variant" type="button"></button>
    </div>
</div>

<div class="modal" id="MyModal">
  <div class="modal-content">
    <div class="modal-close-button">
      <svg class="close-button" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CloseRoundedIcon">
        <path d="M18.3 5.71a.9959.9959 0 0 0-1.41 0L12 10.59 7.11 5.7a.9959.9959 0 0 0-1.41 0c-.39.39-.39 1.02 0 1.41L10.59 12 5.7 16.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 13.41l4.89 4.89c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"></path>
      </svg>
    </div>
    <div class="modal-container">
      <div class="modal-title">Compare Mattresses</div>
      <div class="modal-inner">
        <div class="modal-option">
          <select id="compared-variant-1" class="compared-variant-select" onclick="setVariant1()">
            {% for variant in product.variants %}
              {% if variant.metafields.custom.subtitle != blank %}
                <option value="{{ variant.id }}">
                  {{ variant.metafields.custom.subtitle }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="product-inner">
          {% for variant in product.variants %}
            {% if variant.available %}
              <div class="grid__item modal-item1 hidden" data-testid1={{ variant.id }}>
                {% if variant.image %}
                  <div class="variant-image">
                    <img
                      src="{{ variant.image.src | image_url }}"
                      alt="{{ variant.image.alt | escape }}"
                      role="presentation"
                      height="auto"
                      width="auto"
                      loading="lazy"
                    >
                  </div>
                {% endif %}
              
                <div class="variant-info">
                  <div class="variant-subtitle">{{ variant.metafields.custom.subtitle }}</div>
                  <div class="variant-buying">
                    <div class="variant-price">{{ variant.price | money_with_currency }}</div>
                    {%- render 'buy-buttons',
                      block: block,
                      product: product,
                      product_form_id: product_form_id,
                      variant_id: variant.id,
                      show_pickup_availability: true
                    -%}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="modal-inner">
        <div class="modal-option"> 
          <select id="compared-variant-2" class="compared-variant-select">
            {% for variant in product.variants %}
              {% if variant.metafields.custom.subtitle != blank %}
                <option value="{{ variant.id }}">
                  {{ variant.metafields.custom.subtitle }}
              </option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="product-inner">
          {% for variant in product.variants %}
            {% if variant.available %}
              <div class="grid__item modal-item2 hidden" data-testid2={{ variant.id }}>
                {% if variant.image %}
                  <div class="variant-image">
                    <img
                      src="{{ variant.image.src | image_url }}"
                      alt="{{ variant.image.alt | escape }}"
                      role="presentation"
                      height="auto"
                      width="auto"
                      loading="lazy"
                    >
                  </div>
                {% endif %}
              
                <div class="variant-info">
                  <div class="variant-subtitle">{{ variant.metafields.custom.subtitle }}</div>
                  <div class="variant-buying">
                    <div class="variant-price">{{ variant.price | money_with_currency }}</div>
                    {%- render 'buy-buttons',
                      block: block,
                      product: product,
                      product_form_id: product_form_id,
                      variant_id: variant.id,
                      show_pickup_availability: true
                    -%}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

  </div>
</div>

<script src="{{ 'customer.js' | asset_url }}" defer></script>

{% schema %}
{
    "name": "product variant",
    "tag": "section",
    "class": "product-variant-section",
    "settings": [
        {
            "type": "product",
            "id": "product_variant",
            "label": "Product"
        },
        {
          "type": "range",
          "id": "columns_desktop",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 4,
          "label": "Columns product"
        }
    ],
    "presets": [
      {
        "name": "product variant",
        "settings": {
        }
      }
    ]
}

{% endschema %}

<script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>