{{ 'variant-page.css' | asset_url | stylesheet_tag }}

{%- assign product = section.settings.product_variant -%}
<div class="product-variant">
    <ul  class="
      grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
      grid--{{ section.settings.columns_desktop }}-col-desktop
    ">
        {% for variant in product.variants %}
            {% if variant.available %}
          <li class="grid__item">
            {% if variant.image %}
              <img
                src="{{ variant.image.src | image_url }}"
                alt="{{ variant.image.alt | escape }}"
                role="presentation"
                height="auto"
                width="auto"
                loading="lazy"
              >
            {% endif %}
            <div class="variant-info">
              <div class="variant-subtitle">{{ variant.metafields.custom.subtitle }}</div>
              <div class="variant-subtitle">{{ variant.metafields.custom.description}}</div>
              <div class="variant-values">
                <div class="variant-firmness">{{ variant.metafields.custom.firmness }}</div>
               
                <div class="variant-subtitle">{{ variant.metafields.custom.firmness_value }}</div>
              </div>

              <div class="variant-title">{{ variant.title }}</div>
              <div class="variant-price">{{ variant.price | money_with_currency }}</div>
            </div>
          </li>
          {% endif %}
        {% endfor %}
   </ul>
</div>
{% schema %}
{
    "name": "product variant",
    "tag": "section",
    "class": "product-variant-section",
    "settings": [
        {
            "type": "product",
            "id": "product_variant",
            "label": "Product"
        },
        {
          "type": "range",
          "id": "columns_desktop",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 4,
          "label": "Columns product"
        }
    ],
    "presets": [
      {
        "name": "product variant",
        "settings": {
        }
      }
    ]
}

{% endschema %}

<script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>